/* Write some CSS below */

body {
  background-color: white;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 18px;

}

h1,
h2,
h3 {
  font-family: 'Alike', serif;
}

h1 {
  color: rgb(255, 162, 112);
  font-size: 46px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

a {
  text-decoration: none;
}

.banner {
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid div {
  height: 400px;
}

.banner p {
  font-weight: 400;
  font-size: 15px;
  color: rgb(255, 162, 112);
  margin-bottom: 40px;
  opacity: 0.5;

}

#gauche {
  background-color: #ffddc9;
  font-family: 'Alike', serif;
  padding-left: 10px;
  color: #e13738;
  text-align: right;
  padding-right: 30px;
  border-right: 3px solid rgb(255, 162, 112, 0.4);
  border-bottom: 3px solid rgb(255, 162, 112, 0.4);
}

#logo {
  object-position: top;
  border: 1px solid white;
  border-radius: 50%;
  width: 200px;
  font-size: 100px;
  float: left;
  margin: 10px 10px;
}



.btn-pink {
  background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
  color: white;
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 300px;
  font-family: 'Lobster';
  box-shadow: 0px 10px 20px rgb(200, 195, 195);
}

.btn-pink:hover {
  opacity: 0.5;
  color: white;
}

.titre {
  text-align: center;
}


#carte {
  background-position: cover;
  border: 1px solid black;
  width: 250px;
  font-size: 100px;
  margin: 10px 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.map {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 8px;
  border-radius: 5px;
  object-fit: cover;
  text-align: center;
}

.map img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
  padding: 10px auto;
  transition: 0.3s;
}

.map:hover img {
  height: 420px;
}

.cards-inline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
  margin: 10px 10px;
}

.cards-restaurant {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  margin: 100px 100px;
  margin-top: 40px;
  background-image: linear-gradient(to right, #fcc5ce 0%, #fbcdb3 100%);
  padding: 20px;
  border-radius: 4px;
}

#resto1 {
  background-image: url(images/1.jpg);
}

#resto2 {
  background-image: url(images/2.jpg);
}

#resto3 {
  background-image: url(images/3.jpg);
}

#resto4 {
  background-image: url(images/4.jpg);
}

#resto5 {
  background-image: url(images/5.jpg);
}

#resto6 {
  background-image: url(images/6.jpg);
}

#resto7 {
  background-image: url(images/7.jpg);
}

#resto8 {
  background-image: url(images/8.jpg);
}

#resto9 {
  background-image: url(images/9.jpg);
}

#resto10 {
  background-image: url(images/10.jpg);
}

#resto11 {
  background-image: url(images/11.jpg);
}

#resto12 {
  background-image: url(images/12.jpg);
}

#resto13 {
  background-image: url(images/13.jpg);
}

#resto14 {
  background-image: url(images/14.jpg);
}

#resto15 {
  background-image: url(images/15.jpg);
}

#resto16 {
  background-image: url(images/16.jpg);
}

#resto17 {
  background-image: url(images/17.jpg);
}

#resto18 {
  background-image: url(images/18.jpg);
}

#resto19 {
  background-image: url(images/19.jpg);
}

#resto20 {
  background-image: url(images/20.jpg);
}

#resto21 {
  background-image: url(images/21.jpg);
}

#resto22 {
  background-image: url(images/22.jpg);
}

#resto23 {
  background-image: url(images/23.jpg);
}

#resto24 {
  background-image: url(images/24.jpeg);
}

#resto25 {
  background-image: url(images/25.jpeg);
}


.resto {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 250px;
}

.resto-name {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  opacity: 0;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.resto:hover .resto-name {
  opacity: 1;
}



.resto:hover.restoname {
  opacity: 1;
  position: relative;
}




.cards-pelemele img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
  padding: 10px auto;
}

.footer {
  background-color: #fccabf;
  color: black;
  padding: 40px;
  opacity: 0.7;
  height: 100px;
  width: 100%;
}

.footer p {
  font-size: 30px;
  padding-left: 60px;
  padding-top: 30px;
}

.liste-inline {
  list-style: none;
  display: inline;
  font-size: 50px;
  color: rgb(255, 162, 112);
  letter-spacing: 20px;
}

.liste-inline a {
  text-decoration: none;
}

.liste-inline i {
  color: rgb(255, 162, 112);
  font-size: 40px;
  padding: 20px;
  text-decoration: none;
  transition: .3s;
}

.liste-inline i:hover {
  transform: scale(1.3);
}


.liste-inline li {
  display: inline;
}


/* Breaking points */
@media (max-width: 960px) {
  .container {
    width: 900px;
  }

  .cards-inline {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .container {
    width: 680px;
  }

  .cards-inline {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 540px) {
  .container {
    width: 480px;
  }

  .cards-inline {
    grid-template-columns: 1fr 1fr;
  }
}